@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

/* Hide content during print */
@media print {
  .private-content {
    position: relative;
    color: transparent; /* Hide the content */
  }

  /* Show an overlay in print mode */
  .private-content .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 50px;
    z-index: 10;
  }

  /* Hide buttons or other elements you don't want printed */
  button,
  .non-printable {
    display: none;
  }
}
